<h1>Formulario Empleados</h1>
<form action="/mostrar-empleado" method="POST">
	<label>Nombres:</label><br>
	<input type="text" name="nombresPersona"><br>
	<!-- Es MUY importante que name tenga el mismo nombre que form:"nombresPersona"  en el struct, o no se podran relacionar ni ver los datos. -->

	<label>Apellidos:</label><br>
	<input type="text" name="apellidosPersona"><br>

	<!-- Las flechas puende ser desabilitadas desde js o css, sino tb es posible usar otro input y verificar que sean numeros. -->
	<label>DNI:</label><br>
	<input type="number" name="dniPersona"><br>

	<label>CUIL:</label><br>
	<input type="number" name="cuilPersona"><br>

	<label>Masculino</label><br>
	<input type="radio" name="sexoPersona" value="masculino"><br>

	<label>Femenino:</label><br>
	<input type="radio" name="sexoPersona" value="femenino"><br>

	<label>Observaciones:</label><br>
	<textarea name="observacionesPersona"></textarea><br>

	<label>Puesto:</label><br>
	<input type="text" name="puestoEmpleado"><br>
	<!-- Es MUY importante que name tenga el mismo nombre que form:"nombresPersona"  en el struct, o no se podran relacionar ni ver los datos. -->

	<label>Movil:</label><br>
	<input type="text" name="movilEmpleado"><br>

	<!-- Las flechas puende ser desabilitadas desde js o css, sino tb es posible usar otro input y verificar que sean numeros. -->
	<label>Legajo:</label><br>
	<input type="number" name="numeroLegajoEmpleado"><br>

	<label>Celular:</label><br>
	<input type="number" name="celularEmpleado"><br>

	<input type="submit">
</form>


<!--

HTML <input> Tag Attributes
*******************************************************************************************************************************
Attribute		Value								Description
*******************************************************************************************************************************
accept			file_extension						Specifies the types of files that the server accepts (only for type="file")
				audio/*
				video/*
				image/*
				media_type
align			left								Not supported in HTML5.
				right								Specifies the alignment of an image input (only for type="image")
				top
				middle
				bottom		
alt				text								Specifies an alternate text for images (only for type="image")
autocomplete	on/off								Specifies whether an <input> element should have autocomplete enabled
autofocus		autofocus							Specifies that an <input> element should automatically get focus when the page loads
checked			checked								Specifies that an <input> element should be pre-selected when the page loads (for type="checkbox" or type="radio")
dirname			inputname.dir						Specifies that the text direction will be submitted
disabled		disabled							Specifies that an <input> element should be disabled
form			form_id								Specifies one or more forms the <input> element belongs to
formaction		URL									Specifies the URL of the file that will process the input control when the form is submitted (for type="submit" and type="image")
formenctype		application/x-www-form-urlencoded	Specifies how the form-data should be encoded when submitting it to the server (for type="submit" and type="image")
				multipart/form-data
				text/plain	
formmethod		get/post							Defines the HTTP method for sending data to the action URL (for type="submit" and type="image")
formnovalidate	formnovalidate						Defines that form elements should not be validated when submitted
formtarget		_blank								Specifies where to display the response that is received after submitting the form (for type="submit" and type="image")
				_self
				_parent
				_top
				framename	
height			pixels								Specifies the height of an <input> element (only for type="image")
list			datalist_id							Refers to a <datalist> element that contains pre-defined options for an <input> element
max				number/date							Specifies the maximum value for an <input> element
maxlength		number								Specifies the maximum number of characters allowed in an <input> element
min				number/date							Specifies a minimum value for an <input> element
multiple		multiple							Specifies that a user can enter more than one value in an <input> element
name			text								Specifies the name of an <input> element
pattern			regexp								Specifies a regular expression that an <input> element's value is checked against
placeholder		text								Specifies a short hint that describes the expected value of an <input> element
readonly		readonly							Specifies that an input field is read-only
required		required							Specifies that an input field must be filled out before submitting the form
size			number								Specifies the width, in characters, of an <input> element
src				URL									Specifies the URL of the image to use as a submit button (only for type="image")
step			number								Specifies the legal number intervals for an input field
type			button								Specifies the type <input> element to display
				checkbox
				color
				date 
				datetime-local 
				email 
				file
				hidden
				image
				month 
				number 
				password
				radio
				range 
				reset
				search
				submit
				tel
				text
				time 
				url
				week	
value			text								Specifies the value of an <input> element
width			pixels								Specifies the width of an <input> element (only for type="image")
*******************************************************************************************************************************

HTML <input> type Attribute
*******************************************************************************************************************************
Value			Description
*******************************************************************************************************************************
button			Defines a clickable button (mostly used with a JavaScript to activate a script)
checkbox		Defines a checkbox
color			Defines a color picker
date			Defines a date control (year, month, day (no time))
datetime-local	Defines a date and time control (year, month, day, time (no timezone)
email			Defines a field for an e-mail address
file			Defines a file-select field and a "Browse" button (for file uploads)
hidden			Defines a hidden input field
image			Defines an image as the submit button
month			Defines a month and year control (no timezone)
number			Defines a field for entering a number
password		Defines a password field
radio			Defines a radio button
range			Defines a range control (like a slider control)
reset			Defines a reset button
search			Defines a text field for entering a search string
submit			Defines a submit button
tel				Defines a field for entering a telephone number
text			Default. Defines a single-line text field
time			Defines a control for entering a time (no timezone)
url				Defines a field for entering a URL
week			Defines a week and year control (no timezone)
*******************************************************************************************************************************

HTML <textarea> Tag Attributes
*******************************************************************************************************************************
Attribute	Value				Description
*******************************************************************************************************************************
autofocus	autofocus			Specifies that a text area should automatically get focus when the page loads
cols		number				Specifies the visible width of a text area
dirname		textareaname.dir	Specifies that the text direction of the textarea will be submitted
disabled	disabled			Specifies that a text area should be disabled
form		form_id				Specifies one or more forms the text area belongs to
maxlength	number				Specifies the maximum number of characters allowed in the text area
name		text				Specifies a name for a text area
placeholder	text				Specifies a short hint that describes the expected value of a text area
readonly	readonly			Specifies that a text area should be read-only
required	required			Specifies that a text area is required/must be filled out
rows		number				Specifies the visible number of lines in a text area
wrap		hard/soft			Specifies how the text in a text area is to be wrapped when submitted in a form
*******************************************************************************************************************************

HTML <form> Tag Attributes
*******************************************************************************************************************************
Attribute		Value								Description
*******************************************************************************************************************************
accept			file_type							Not supported in HTML5.
													Specifies a comma-separated list of file types  that the server accepts (that can be submitted through the file upload)
accept-charset	character_set						Specifies the character encodings that are to be used for the form submission
action			URL									Specifies where to send the form-data when a form is submitted
autocomplete	on/off								Specifies whether a form should have autocomplete on or off
enctype			application/x-www-form-urlencoded	Specifies how the form-data should be encoded when submitting it to the server (only for method="post")
				multipart/form-data
				text/plain	
method			get/post							Specifies the HTTP method to use when sending form-data
name			text								Specifies the name of a form
novalidate		novalidate							Specifies that the form should not be validated when submitted
target			_blank								Specifies where to display the response that is received after submitting the form
				_self
				_parent
				_top	
*******************************************************************************************************************************

HTML <button> Tag Attributes
*******************************************************************************************************************************
Attribute       Value                               Description
*******************************************************************************************************************************
autofocus	    autofocus	                        Specifies that a button should automatically get focus when the page loads
disabled	    disabled	                        Specifies that a button should be disabled
form	        form_id	                            Specifies one or more forms the button belongs to
formaction	    URL	                                Specifies where to send the form-data when a form is submitted. Only for type="submit"
formenctype	    application/x-www-form-urlencoded   Specifies how form-data should be encoded before sending it to a server. Only for type="submit"
                multipart/form-data
                text/plain	                        
formmethod	    get                                 Specifies how to send the form-data (which HTTP method to use). Only for type="submit"
                post	
formnovalidate  formnovalidate	                    Specifies that the form-data should not be validated on submission. Only for type="submit"
formtarget	    _blank                              Specifies where to display the response after submitting the form. Only for type="submit"
                _self
                _parent
                _top
                framename	
name	        name	                            Specifies a name for the button
type	        button                              Specifies the type of button
                reset
                submit	
value	        text	                            Specifies an initial value for the button
*******************************************************************************************************************************

HTML <button> type Attribute
*******************************************************************************************************************************
Value	Description
*******************************************************************************************************************************
button	The button is a clickable button
submit	The button is a submit button (submits form-data)
reset	The button is a reset button (resets the form-data to its initial values)
*******************************************************************************************************************************

-->
